<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.owenh.alarmo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 屏幕保持唤醒 不锁屏 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 震动 -->
    <application
        android:name=".common.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/alarmo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <activity android:name=".activity.AlarmMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WatchActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activity.SettingActivity" />

        <service
            android:name=".services.RingService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.MainActivity"></activity>
    </application>

</manifest>